<!-- 
    Pagina destinada a alteração de animal;
-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">   
    </head>
<body>
    <!--Inicio do nosso formulario -->
    <h1>Alterar Animal Por Animal</h1>
    <form action="../Controllers/C_alterarAnimal.php" method="POST">
        Id Animal: <input type="text" placeholder="Somente Numeros" name="idAnimal">
        <br><br>
        <input type="hidden" name="acao" value="alterar"/>
        <input type="submit" value="Buscar" name="cadastrar"/>
    </form>

</body>

</html>