<!-- 
    Pagina destinada ao cadastro de animais;
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Entrada de dados</title>
        <style>
        .error {color: #FF0000;}
        </style>    
    </head>
<body>
    <!--Inicio do nosso formulario -->
    <h1>Formulario de cadastro</h1>
    <p><span class="error"> * Campos obrigatórios</span></p>
    <form action="../Controllers/C_cadastrarAnimal.php" method="POST">
    <!--$_SERVER["PHP_SELF"] é uma variável super global  -->
        Nome do animal: <input type="text" placeholder="Entre com o nome do animal" name="nomeAnimal">
        <span class="error">*</span>
        <br><br>
        Ano de Nascimento: <input type="number" placeholder="Entre com o ano de nascimento do animal" name="anoNascimento">
        <span class="error">*</span>
        <br><br>
        Observações: <input type="text" placeholder="Entre com as observações do animal" name="observacoes">
        <span class="error">*</span>
        <br><br>
        Espécie: <input type="text" placeholder="Entre com a espécie do animal" name="especie" >
        <span class="error">*</span>
        <br><br> 
        Raça: <input type="text" placeholder="Entre com a raça do animal" name="raca">
        <span class="error">*</span>
        <br><br> 
        CPF: <input type="text" placeholder="Entre com o CPF do dono" name="CPF">
        <span class="error">*</span>
        <br><br> 
            <input type="hidden" value="inserir"/>
            <input type="submit" value="Cadastrar" name="cadastrar"/>
    </form>
    <br><br><br><a href='../index.html'>Voltar Para o Menu Principal</a>
</body>

</html>