<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hora do Passeio</title>
</head>

<body>
    <h1>Hora do Passeio</h1>
    <h3>Controle de Funcionarios</h3>
    <ul>
        <li><a href="cadastrarFunc.html">Cadastrar Funcionario</a></li>
        <li><a href="../Controllers/ConsultarTodosFuncionarios.php">Consultar Funcionarios</a></li>
        <li><a href="ConsultarFuncionario.html">Consultar Funcionário por CPF</a></li>
        <li><a href="DeletarFuncionario.html">Buscar e excluir</a></li>
        <li><a href="AlterarFuncionario.html">Buscar e Alterar</a></li>
    </ul>
    <h3>Controle de Donos</h3>
    <ul>
        <li><a href="cadastrarDono.html">Cadastrar Dono</a></li>
        <li><a href="../Controllers/C_todosDonos.php">Consultar Donos</a></li>
        <li><a href="ConsultarDono.html">Consultar Dono por CPF</a></li>
        <li><a href="DeletarDono.html">Buscar e excluir</a></li>
        <li><a href="AlterarDono.html">Buscar e Alterar</a></li>
    </ul>
    <h3>Controle de Animais</h3>
    <ul>
        <li><a href="cadastrarAnimal.html">Cadastrar Animal</a></li>
        <li><a href="../Controllers/C_todosAnimais.php">Consultar Animal</a></li>
        <li><a href="ConsultarAnimal.html">Consultar Animal por CPF</a></li>
        <li><a href="DeletarAnimal.html">Buscar e excluir</a></li>
        <li><a href="AlterarAnimal.html">Buscar e Alterar</a></li>
    </ul>
    <h3>Controle de Acomodações</h3>
    <ul>
        <li><a href="CadastrarAcomodacao.html">Cadastrar Acomodacao</a></li>
        <li><a href="../Controllers/C_consultarTodasAcomodacoes.php">Consultar Acomodações</a></li>
        <li><a href="ConsultarAcomodacao.html">Consultar Acomodacção por ID Quarto</a></li>
        <li><a href="DeletarAcomodacao.html">Buscar e excluir</a></li>
        <li><a href="AlterarAcomodacao.html">Buscar e Alterar</a></li>
    </ul>
    <h3>Controle de Reservas</h3>
    <ul>
        <li><a href="CadastrarReserva.html">Cadastrar Reserva</a></li>
        <li><a href="../Controllers/C_consultarTodasReservas.php">Consultar Reserva</a></li>
        <li><a href="ConsultarReserva.html">Consultar Reserva por ID</a></li>
        <li><a href="DeletarReserva.html">Buscar e excluir</a></li>
        <li><a href="AlterarReserva.html">Buscar e Alterar</a></li>
    </ul>


</body>

</html>