<link rel="stylesheet" href="Styles/style.css">
<div id="navbar">
<ul>
    <li id="esquerda"><img src="Views/Assets/logo-white.png" alt="Hora do Passeio" ></li>

    <li id="direita"><a href="Views/login.html">Entrar</a></li>
    <li id="direita"><a href="Views/Contato.php">Contato</a></li>
    <li id="direita"><a href="Views/SobreNos.php">Sobre nós</a></li>
    <li id="direita"><a href="Views/NossosAumigos.php">Nossos aumigos</a></li>
    <li id="direita"><a href="home.php#estrutura">Nossa estrutura</a></li>
    <li id="direita"><a href="home.php#home">Início</a></li>

</ul>
</div>